# Compiled python files
__pycache__/
*.pyc
*.pyo

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
*.env
.venv/
ENV/
venv/

# IDEs artifacts
*.idea/
.vscode/

# Operating systems artifacts
.DS_Store
Thumbs.db

build/CRM/
dist/
venv_name/
